@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: 'StardosStencil';
    src: url('fonts/StardosStencil-Bold.ttf');
}
* {
    margin: 0;
    padding: 0;
    outline: none;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #dfdfdf;
}
body {
    width: 200vh;
    height: auto;
    background-color: lightgray;
}
header {
    background-color: #292929;
    position: fixed;
    top: 0;
    padding: 15px;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 100;
}

#logo {
    position: absolute;
    left: 25px;
    top: 5px;
    color: white;
    font-size: 40px;
    font-weight: lighter;
    font-family: Algerian;
}
#logo span {
    color: #02a600;
}

#menus .postBtn {
    font-weight: bold;
    font-size: 16pt;
    border: none;
    position: absolute;
    height: 30px;
    background: rgba(255, 255, 255, 0.3);
    color: #120e6c;
    cursor: pointer;
    margin-left:10px;
}
#menus .postBtn:active {
    background: #b9b9b9;
}
#menus .postBtn:hover {
    background-color: #013D75;
    color: white;
}

.ond {
    list-style-type: none;
    position: absolute;
    left: 646px;
    top: 30px;
    padding: 4px;
    cursor: pointer;
    display: none;
}
.hover {
    list-style-type: none;
    position: absolute;
    left: 661px;
    top: 30px;
    padding: 4px;
    cursor: pointer;
    display: inherit;
    background-color: #8BC6FD;
}
#menus ul li a {
    color: #120e6c;
}
#menus ul li a:hover {
    color: #FFFFFF
}

#menu ul li {
    list-style-type: none;
    float: left;
    font-family: 'Montserrat';
    /*font-weight: bold;*/
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    font-size: 16pt;
    text-align: center;
    border-right: 1px solid black;
    color: #120e6c;
}
#menu ul li:hover {
    background-color: #013D75;
}
#menu ul li a{
    text-decoration: none;
    color: #120e6c;
}
#menu ul li a:hover{
    text-decoration: none;
    color: white;
}
.tema {
    background-color: white;
    width: 100%;
    border: 2px solid lightslategray;
    position: fixed;
    top: 60px;
    left: 0px;
    height: 30px;
    z-index: 100;
    font-family: "Montserrat";
    font-weight: bold;
}

.left_column {
    background-color: lightgray;
    width: 15%;
    height: 1550px;
    position: fixed;
    top: 90px;
    z-index: 1;
}
.left_column ol li{
    font-weight: bold;
    font-size: larger;
    margin-left: 20px;
    list-style-type: none;
    margin-bottom: 17px;
}
.left_column ol li a {
    color: #0c1733;

}
.left_column ol li:hover {
    text-decoration: underline;
    font-weight: bold;
}
.tema p {
    position: fixed;
    display: inline-flex;
}
#auth {
    position: fixed;
    right: 60px;
    color: white;
    text-decoration: none;
    text-shadow: #454545 0 0 2px;
    font-size: 1.2em;
    width: 120px;
    height: 25px;
    background-color: navy;
    border: 1px solid ghostwhite;
    border-radius: 3px;
}
#auth:hover {
    color: #dfdfdf;
}
#reg {
    position: fixed;
    right: 199px;
    text-decoration: none;
    text-shadow: #454545 0 0 2px;
    font-size: 1.2em;
    width: 120px;
    height: 25px;
    background-color: navy;
    border: 1px solid ghostwhite;
    border-radius: 3px;
    color: black;
}
#reg:hover {
    color: black;
}

.post1 {
    width: 16px;
    height: 16px;
}
/*Стили для другого документа!*/
#right-cool {
    position: absolute;
    top: 85px;
    left: 150px;
    width: 83%;
    height: 2700px;
    padding: 1%;
    background-color: white;
    box-shadow: 0 2px 4px 10px rgba(12, 12, 12, 0.2);
}
#right-cool .locat_file {
    position: relative;
    width: 1100px;
    top: 10px;
    background-color: white;
    padding: 1%;
}
#right-cool .locat_file p{
    font-weight: bold;
    font-size: 12pt;
}
#right-cool .locat_file p a {
    color: black;
}
#right-cool .locat_file p a:hover {
    text-decoration: underline;
    color: #0E45D1;
}
#right-cool .icon_left {
    position: relative;
    top: 20px;
    width: 190px;
    height: 220px;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.7);

}
#right-cool .icon_left img {
    width: 190px;
    height:  190px;
}

#right-cool .information_right {
    position: relative;
    top: -221px;
    left: 230px;
    width: 980px;
    height: 95%;
    background-color: white;
    padding: 1%;
    padding-left: 3%;
    border-left: 3px solid black;
}
#right-cool .h1an {
    position: relative;
    left: 35px;
    top: 15px;
    font-family: Bahnschrift;
}
#right-cool .h5dt {
    position: relative;
    left: 15px;
    color: gray;
    font-family: Bahnschrift;
}

a.button17 {
    position: relative;
    display: inline-block;
    width: 12em;
    height: 2.5em;
    line-height: 2.4em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    user-select: none;
    color: #000;
    outline: none;
    border: 1px solid rgba(110,121,128,.8);
    border-top-color: rgba(0,0,0,.3);
    border-radius: 5px;
    background: rgb(206, 220, 231) linear-gradient(rgb(206,220,231), rgb(89,106,114));
    box-shadow:
            0 -1px rgba(10,21,28,.9) inset,
            0 1px rgba(255,255,255,.5) inset;
}
a.button17:hover {
    background: linear-gradient(#d2dfea, #71828c);
}
a.button17:active {
    line-height: 2.6em;
    background: linear-gradient(#bac6cf, #c5d3de 20%, #71828c);
    box-shadow: 0 -1px rgba(255,255,255,.4) inset;
}
a.button17:before {
    content: "";
    position: absolute;
    top: -10px; right: -10px; bottom: -10px; left: -10px;
    z-index: -1;
    border-radius: 8px;
    background: linear-gradient(rgba(200,200,200,.5), rgba(240,240,240,.5));
}

#installls {
    height: 2000px;
}
.adb{
    position: relative;
    left: 10px;
    font-size: 23px;
}

.prosh {
    position: relative;
    left: 10px;
    font-size: 23px;
    height: 500px;
}
.prosh li p span {
    color: red;
}
.text1 {
    font-size: 23px;
}
.a1 {
    font-style: italic;
    color: gray;
    font-size: 23px;
    text-align: center;
}

/*модальное окно*/
#window {
    position: fixed;
    top: 25px;
    left: 35%;
}

/*время на JavaScript*/
.left_clock {
    position: relative;
    top: 100px;
    padding-top: 0.5px;
    padding-left: 1.5%;
    padding-bottom: 0.5%; 
    color: white;
    float: left;
    width: 180px;
    height: 50px;
    background-color: black;
    font-family: 'StardosStencil';
    font-size: 32pt;
    border-radius: 40%;
}

.spa {
    color: red;
}
.wipe a {
    color: #120e6c;
    cursor: pointer;
    font-weight: bold;
}

#right-cool .information_rights {
    position: relative;
    top: -50px;
    left: 20%;
    width: 980px;
    height: 95%;
}
#right-cool .information_rights .h1{
    position: absolute;
    top:50px;
    font-size: 38pt;
    color: black;
    font-weight: bold;
    text-align: center;
    /*padding-bottom: 30px;*/
}
/*#right-cool .information_rights .h1{*/
/*    position: relative;*/
/*    width: 500px;*/
/*    height: 70px;*/
/*}*/
#right-cool .post_repair {
    position: absolute;
    top: 130px;
    left: 10px;
    width: 800px;
    height: 630px;
    background-color: #D7D7D7;
    color: #444444;
    margin-left: 40px;
}
#right-cool .post_repair h2 {
    font-size: 35px;
    font-style: italic;
    color: black;
    font-variant: small-caps;
}
#right-cool .post_repair p{
    font-size: 23px;
    font-variant: small-caps;
    text-indent: 30px;
}
#right-cool .post_repair img {
    position: relative;
    width: 800px;
    height: 500px;
}

#full {
    float: right;
    width: 170px;
    height: 30px;
    background-color: rgba(255,255,255,0);
    border: 2px solid forestgreen;
    cursor: pointer;
}
#full:hover, #full:active {
    background-color: forestgreen;
}
#full a {
    color: black;
    font-weight: bold;
}
#full a:hover {
    color: white;
}
#right-cools {
    position: absolute;
    top: 85px;
    left: 150px;
    width: 83%;
    height: 600px;
    padding: 1%;
    background-color: white;
    box-shadow: 0 2px 4px 10px rgba(12, 12, 12, 0.2);
}
#contacts {
    position: relative;
    top: 30px;
    left: 25%;
}
#contacts .h3 {
    position: relative;
    left: -270px;
    font-size: 20pt;

}
#contacts .email{
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    color: black;
}
#contacts .email1 {
    text-align: center;
    position: absolute;
    left: 190px;
}
#contacts .tel{
    position: absolute;
    top: 100px;
}
#contacts .tel1 {
    position: absolute;
    top: 100px;
    left: 190px;
}

#timess {
    height: 50px;
    padding: 5px;
    border: 1px solid black;
    background-color: black;
}
#timess .h2 {
    font-size: 28pt;
    margin-bottom: 23px;
    color: white;
    position: relative;
    left: 40%;
}
